<footer class="container-g2 gx-layout py-section">
    <nav class="scale mb-8">
        <div class="d-block d-sm-flex align-items-sm-center justify-content-sm-between pb-6">
            <a class="mb-2 mb-sm-0" href="#">
                <img src="../assets/images/2025-week1/logo.svg" alt="logo">
            </a>
            <ul class="d-bolck d-sm-flex">
                <li class="mr-sm-10 mr-sm-0 mb-1 mb-sm-0"><a class="py-3" href="./product-list.html">商品列表</a></li>
                <li><a class="py-3" href="./index.html">品牌故事</a></li>
            </ul>
        </div>
        <div class="line line-bottom line-n300"></div>
    </nav>
    <article class="text-center c-n600 fs-14px">
        <p class="mb-1">Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
    </article> 
</footer>