<!-- 加入會員取得 9 折優惠(馬上註冊)-->

<section class="bg-p200 py-6 d-flex justify-content-center align-items-center">
    <h2 class="fs-5 fs-lg-6 mr-4 mr-sm-5 mr-lg-6">加入會員取得 9 折優惠</h2>
    <button type="button" class="btn btn-sm btn-bp-lg btn-secondary">馬上註冊</button>
</section>