<!-- header -->

<header class="container-g2 gx-layout py-header">
    <nav class="scale fw-5 d-flex">
        <a class="mr-0 mr-sm-12 d-flex align-items-center" href="./index.html">
            <!-- 
            傑 利 (前端助教)建議：
            導覽列 LOGO 建議使用 img 標籤引入圖片
            -->
            <img src="../assets/images/2025-week1/logo.svg" alt="logo">
        </a>
        <ul class="d-none d-sm-flex">
            <li class="mr-10"><a class="py-3" href="./product-list.html">商品列表</a></li>
            <li><a class="py-3" href="./story.html">品牌故事</a></li>
        </ul>
        <a class="ml-auto d-flex align-items-center" href="#">
            <i class="bi bi-person fs-6"></i>
        </a>
    </nav>
</header>
