// 其實這邊應該要分離樣式的
// 找時間再處理

.index-banner{
    background-image: url(../assets/images/2025-week3-4/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.index-middle-banner{
    background-image: url(../assets/images/2025-week3-4/banner-co-branded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.muted-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // 加上灰色遮罩
    // AI 推薦寫法

    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4); // 灰色遮罩效果

    &-p3{
        background-image: url(../assets/images/2025-week2/product-3.png);      
    }
    &-p0{
        background-image: url(../assets/images/2025-week2/product.png);      
    }
    &-p9{
        background-image: url(../assets/images/2025-week2/product-9.png);      
    }
    &-p10{
        background-image: url(../assets/images/2025-week3-4/product-10.png);      
    }
}