<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>index</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>

<!-- 品牌故事 Brand Story -->

<div class="bg-story c-n000 py-story">
    <article class="text-center">
        <h1 class="fs-7 fs-sm-8 fs-md-9 fs-lg-10 mb-2 mb-md-3 mb-lg-4">品牌故事</h1>
        <h2 class="fs-5 fs-md-6 fs-lg-7">Brand Story</h2>
    </article>
</div>

<!-- 主要內容 -->

<!--
傑 利 (前端助教)建議：
.container 建議只保留 1296px 寬度就好，不用全部比例都製作出來，若遇到內容寬度不滿 1296px 時，只需要在外層使用 flex 語法，並搭配 col-12 系列的格線系統就能完成。以第一週的品牌故事頁為例，有些段落的寬度是 856px，從設計稿看可以發現只佔據格線系統 8 欄，就可以寫入 .col-12-8，並在外層的 .row 加入 .justify-content-center 就能將內容置中，並不需要設定各尺寸容器的寬度
-->

<main class="container-g2 gx-layout py-section">
    <div class="row justify-content-center gy-section">
        <section class="col-12 col-sm-10 col-md-9 col-lg-8">
            <div class="bg-p100 p-6 p-md-7 p-lg-8 text-start text-sm-center">
                <h4 class="mb-3 c-p400 fs-5">走出城市的節奏，穿上自己的步調。</h4>
                <p class="mb-1">我們相信，每一雙鞋都該帶著個性出場。</p>
                <p class="mb-1">在 URBNSTEP，我們認為鞋履不只是穿戴飾品，更是你與世界連結的語言。</p>
                <p>融合城市結構與機能語彙，我們打造適合都會節奏的風格鞋款，陪你自信穿梭每一場風景。</p>
            </div>
        </section>
        <section class="col-12 col-sm-10 col-md-9 col-lg-8">
            <div class="main-img mb-4 mb-sm-3 mb-md-5 mb-lg-6 pr-2 pr-sm-0">
                <img src="../assets/images/2025-week1/about.png" alt="about">
            </div>
            <h3 class="fs-5 fs-lg-6 mb-4 mb-md-5 mb-lg-6">品牌簡介</h3>
            <h4 class="fs-4 fs-lg-5 c-p400 mb-3 mb-lg-4">URBNSTEP 是來自台灣的街頭機能鞋品牌，<span class="br br-mb-sm-2"></span>致力於打造「風格與功能並存」的鞋履體驗。</h4>
            <p class="mb-3 mb-lg-4">在城市與日常的交錯中，我們看見了步伐的力量。URBNSTEP 誕生於一群設計師與文化觀察者的交會點——一個相信風格應該來自「真實場景」而非伸展台的團隊。從都市的清晨街角，到午後光影灑落的人行道，我們捕捉的是那些不被刻意編排的時刻，那些用一雙鞋踏出的態度與節奏。每一款鞋的誕生，不只是設計與工藝的結晶，更是一段來自城市靈感的延伸，我們相信：鞋，是穿在腳上的語言。</p>
            <p class="mb-8 mb-sm-9 mb-md-10 mb-lg-12">URBNSTEP 的名字來自 Urban + Step，代表著我們對每一個走進城市生活的人致敬。我們不追逐潮流，我們關注輪廓、材質、穿著者的心境與身型，創造能陪伴你走進自我節奏的經典之作。選用高品質麂皮、織物與天然橡膠大底，並與獨立插畫家、攝影師合作，打造具有街頭詩意的形象風格。URBNSTEP 相信，美不是炫耀，而是由內而外的呼吸——一雙鞋，剛好說出你心中的樣子。</p>
            <div class="line line-bottom line-n300"></div>
        </section>
        <section class="col-12 col-sm-10 col-md-9 col-lg-8">
            <h3 class="fs-5 fs-lg-6 mb-4 mb-md-5 mb-lg-6">品牌歷程</h3>
            <ol class="disc">
                <li class="mb-3">
                    <time datetime="2019">2019</time>
                    <span class="line line-left mr-2"></span>
                    <span>URBNSTEP 在台北東區的創意工作室誕生。</span>
                </li>
                <li class="mb-3">
                    <time datetime="2021">2021</time>
                    <span class="line line-left mr-2"></span>
                    <span>首款【Urban Flow 系列】誕生，結合針織鞋面與城市靈感。</span>
                </li>
                <li class="mb-8 mb-sm-9 mb-md-10 mb-lg-12">
                    <time datetime="2025">2025</time>
                    <span class="line line-left mr-2"></span>
                    <span>URBNSTEP 已成為台灣街頭生活風格的代表鞋履品牌之一。</span>
                </li>
            </ol>
            <div class="line line-bottom line-n300"></div>
        </section>
        <section class="col-12 col-sm-10 col-md-9 col-lg-8">
            <h3 class="fs-5 fs-lg-6 mb-4 mb-md-5 mb-lg-6">品牌理念</h3>
            <ul>
                <li class="mb-3">
                    <span class="line line-left line-n300 line-x-3 mr-3"></span>
                    <span>機能先行：輕量、透氣、防潑水</span>
                </li>
                <li class="mb-3">
                    <span class="line line-left line-n300 line-x-3 mr-3"></span>
                    <span>美學延伸：極簡線條 + 實驗配色</span>
                </li>
                <li class="mb-8 mb-sm-9 mb-md-10 mb-lg-12">
                    <span class="line line-left line-n300 line-x-3 mr-3"></span>
                    <span>永續材料：選用環保合成皮革與可回收包裝</span>
                </li>
            </ul>
            <div class="line line-bottom line-n300"></div>
        </section>
        <section class="col-12 col-sm-10 col-md-9 col-lg-8">
            <h3 class="fs-5 fs-lg-6 mb-4 mb-md-5 mb-lg-6">品牌小故事</h3>
            <ul class="c-p400 fw-5 scale">
                <li><a class="py-2" href="#"><span class="mr-2">↗︎</span><span class="line line-bottom pb-1 d-inline-block">創辦人筆記：我們為什麼想做鞋？</span></a></li>
                <li><a class="py-2" href="#"><span class="mr-2">↗︎</span><span class="line line-bottom pb-1 d-inline-block">穿上 URBNSTEP 的他們</span></a></li>
                <li class="mb-8 mb-sm-9 mb-md-10 mb-lg-12"><a class="py-2" href="#"><span class="mr-2">↗︎</span><span class="line line-bottom pb-1 d-inline-block">URBNSTEP 鞋履的誕生過程</span></a></li>
            </ul>
            <div class="line line-bottom line-n300"></div>
        </section>
    </div>
</main>

    <%- include('./layout/footer-topbar'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
