<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Platform 404｜產品詳細頁｜URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 主要區塊 -->

    <main class="py-section-base0">
      <!--
      由於 圖片列表沒有左右 gutter
      這邊的 container-g2 設定的 gx-layout-base-0 在最小響應式無 gutter
      -->
      <div class="container-g2 gx-layout-base-0">
        <div class="row">
          <div class="col-12 col-lg-7 mb-6 mb-lg-0">
            <!--
            圖片列表的 gutter 設定為
            gx-project-404-img 
            gy-project-404-img
            base 為 0px
            sm 以上為 8px
            沒 gutter 就沒 x 軸問題
            -->
            <ul class="row gx-project-404-img gy-project-404-img">
              <li class="col-12 col-lg-6"><img src="../assets/images/2025-week2/image.png" alt="imgae"></li>
              <li class="col-12 col-lg-6 d-none d-lg-block"><img src="../assets/images/2025-week2/image-1.png" alt="imgae-1"></li>
              <li class="col-12 col-lg-6 d-none d-lg-block"><img src="../assets/images/2025-week2/image-2.png" alt="imgae-2"></li>
              <li class="col-12 col-lg-6 d-none d-lg-block"><img src="../assets/images/2025-week2/image-3.png" alt="imgae-3"></li>
              <li class="col-12 col-lg-6 d-none d-lg-block"><img src="../assets/images/2025-week2/image-4.png" alt="imgae-4"></li>
              <li class="col-12 col-lg-6 d-none d-lg-block"><img src="../assets/images/2025-week2/image-5.png" alt="imgae-5"></li>
              <li class="col-12 col-lg-6 d-none d-lg-block"><img src="../assets/images/2025-week2/image-6.png" alt="imgae-6"></li>
              <li class="col-12 col-lg-6 d-none d-lg-block"><img src="../assets/images/2025-week2/image-7.png" alt="imgae-7"></li>
            </ul>
          </div>
          <div class="col-12 col-lg-5">
            <!--
            這邊剛好反過來
            base 是 12px
            sm 以上都不能推間距
            不然會跟最外圍的 gx-layout 打架
            -->
            <div class="container-g2 gx-layout-base-normal">
              
              <!-- 右側文字區塊 -->

              <section class="mb-8">         
                <nav class="scale mb-2 mb-lg-3 fs-14px fs-sm-4">
                  <div class="row gx-nav-line-i">
                    <a class="col-gutter c-n600" href="../pages/index.html">首頁</a>
                    <span class="line-i line-i-n300"></span>
                    <a class="col-gutter c-n600" href="../pages/product-list.html">女鞋</a>
                    <span class="line-i line-i-n300"></span>
                    <a class="col-gutter c-n600" href="../pages/product-list.html">滑板鞋</a>
                    <span class="line-i line-i-n300"></span>          
                    <a class="col-gutter" href="#">Platform 404</a>
                  </div>
                </nav>

                <h1 class="mb-3 mb-sm-4 fs-6 fs-sm-7 fs-lg-8">Platform 404</h1>

                <div class="mb-3 mb-lg-4 d-flex align-items-center">
                  <h3 class="c-p400 fs-4 fs-lg-5 mr-2">NT12,600</h3>
                  <del class="c-n500 fs-14px">NT13,200</del>
                </div>

                <p class="mb-3">Platform 404 以柔和奶白為底，搭配深藍色皮革點綴，走在街上自帶回頭率。鞋型採用復古運動風輪廓，結合輕量厚底與柔軟泡棉鞋舌，兼顧美感與舒適。</p>
                <p>鞋身選用柔軟皮革材質，打造出清新卻不失個性的氛圍，並以鞋面透氣孔設計提升穿著體驗，兼顧質感與舒適度，適合日常長時間著用。無論是街頭穿搭、日常通勤或週末出遊都能輕鬆駕馭。</p>
              </section>

              <!-- 鞋子顏色尺寸很多按鈕的區塊 -->

              <section class="mb-8">
                <!-- 顏色 -->
                <div class="mb-6 mb-sm-7 mb-lg-8">
                  <p class="mb-2">顏色</p>
                  <div class="d-flex text-center c-n600 scale">
                    <a href="#" class="w-64px mr-2"><img src="../assets/images/2025-week2/product.png" alt="product" class="aspect-1-1"><span>藍色</span></a>
                    <a href="#" class="w-64px"><img src="../assets/images/2025-week2/product-1.png" alt="product-1" class="aspect-1-1"><span>卡其色</span></a>
                  </div>
                </div>
                <!-- 尺寸 -->
                <div class="mb-6 mb-sm-9 mb-lg-12">
                  <p class="mb-2">尺寸</p>
                  <div class="row gx-project-btn gy-project-btn pb-2">
                    <div class="col-gutter">
                      <button class="btn btn-lg btn-tertiary"><span class="px-2">35(22.5cm)</span></button>
                    </div>
                    <div class="col-gutter">
                      <button class="btn btn-lg btn-tertiary btn-outline-n300"><span class="px-2">36(23.0cm)</span></button>
                    </div>
                    <div class="col-gutter">
                      <button class="btn btn-lg btn-tertiary btn-outline-n300"><span class="px-2">37(23.5cm)</span></button>
                    </div>
                    <div class="col-gutter">
                      <button class="btn btn-lg btn-tertiary btn-outline-n300"><span class="px-2">38(24.0cm)</span></button>
                    </div>
                    <div class="col-gutter">
                      <button class="btn btn-lg btn-tertiary btn-outline-n300"><span class="px-2">39(24.5cm)</span></button>
                    </div>
                    <div class="col-gutter">
                      <button class="btn btn-lg btn-tertiary btn-outline-n300"><span class="px-2">40(25.0cm)</span></button>
                    </div>
                    <div class="col-gutter">
                      <button class="btn btn-lg btn-tertiary btn-outline-n300"><span class="px-2">41(26.0cm)</span></button>
                    </div>
                    <div class="col-gutter">
                      <button disabled class="btn btn-lg btn-tertiary btn-outline-n300"><span class="px-2">42(26.5cm)</span></button>
                    </div>
                    <div class="col-gutter">
                      <button disabled class="btn btn-lg btn-tertiary btn-outline-n300"><span class="px-2">43(27.0cm)</span></button>
                    </div>
                  </div>
                  <span class="fs-14px c-d300">僅剩 3 雙</span>
                </div>

                <!-- 兩個按鈕，響應式需要 d-none -->

                <div class="d-flex text-center align-items-center">
                  <a href="#" class="flex-1 btn btn-lg btn-tertiary mr-2 d-none d-sm-block">
                    <i class="bi bi-handbag"></i>
                    <span>加入收藏</span>
                  </a>
                  <a href="#" class="flex-1 btn btn-lg btn-secondary">
                    <i class="bi bi-heart"></i>
                    <span>門市預約試穿</span>
                  </a>
                  <div class="scale">
                    <a href="#" class="d-block d-sm-none">
                      <i class="bi bi-heart fs-6 p-3"></i>
                    </a>
                  </div>
                </div>

              </section>
              <!-- 三個 article -->

              <article class="py-3">
                <h4 class="mb-1">商品材質</h4>
                <ul class="c-n600">
                  <li>鞋面：合成皮革（Synthetic Leather）</li>
                  <li>內裡：透氣網布材質，提升舒適與排汗性</li>
                  <li>鞋底：EVA 輕量發泡橡膠，具備良好緩震與止滑效果</li>
                  <li>鞋帶：聚酯纖維，耐拉扯不易鬆脫</li>
                </ul>
              </article>
              <div class="line line-bottom line-n300"></div>
              <article class="py-3">
                <h4 class="mb-1">購買須知</h4>
                <ul class="c-n600">
                  <li>商品顏色因螢幕顯示可能略有差異，請以實品為準。</li>
                  <li>建議首次穿著前試穿確認尺寸，避免影響退換貨權益。</li>
                  <li>本商品為限量發售，庫存有限，如需更換尺寸請儘早聯繫客服協助處理。</li>
                </ul>
              </article>
              <div class="line line-bottom line-n300"></div>
              <article class="py-3">
                <h4 class="mb-1">保養方式</h4>
                <ul class="c-n600">
                  <li>建議以乾布或微濕軟布擦拭表面汙漬，避免機洗或長時間浸水。</li>
                  <li>收納時請放置於乾燥通風處，避免日曬及高溫導致變形或龜裂。</li>
                  <li>若需深層清潔，建議使用中性清潔劑並搭配柔刷輕刷，勿使用漂白水或強酸強鹼清潔劑。</li>
                </ul>
              </article>
              <div class="line line-bottom line-n300"></div>

            </div>

          </div>
        </div>
      </div>
    </main>

    <!-- 你可能也喜歡 -->

    <section class="scale py-10 py-lg-12 mb-6 mb-lg-10">
      <div class="container-g2 gx-layout hidden-sm">
        <h2 class="py-product-404-title fs-5 fs-lg-6 mb-4">你可能也喜歡...</h2>
        <ul class="row nowrap gx-hidden-img">
          <li class="col-3 f-sm-316px">
            <div class="mb-3"><img src="../assets/images/2025-week2/product-2.png" alt="product-2"></div>
            <h4 class="mb-1"><a href="#">VM001</a></h4>
            <p>NT$2,600</p>
          </li>
          <li class="col-3 f-sm-316px">
            <div class="mb-3"><img src="../assets/images/2025-week2/product-3.png" alt="product-3"></div>
            <h4 class="mb-1"><a href="#">Melty Kiss</a></h4>
            <p>NT$4,000</p>
          </li>
          <li class="col-3 f-sm-316px">
            <div class="mb-3"><img src="../assets/images/2025-week2/product-4.png" alt="product-4"></div>
            <h4 class="mb-1"><a href="#">BOOMBLOK</a></h4>
            <p>NT$3,200</p>
          </li>
          <li class="col-3 f-sm-316px">
            <div class="mb-3"><img src="../assets/images/2025-week2/product-7.png" alt="product-7"></div>
            <h4 class="mb-1"><a href="#">Sugar Snap</a></h4>
            <p>NT$3,200</p>
          </li>
        </ul>
      </div>
    </section>

    <%- include('./layout/footer-topbar'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
