<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Platform 404｜產品詳細頁｜URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 主要區塊 -->

    <main class="py-section-base0">
      <!--
      由於 圖片列表沒有左右 gutter
      這邊的 container-g2 設定的 gx-layout-base-0 在最小響應式無 gutter
      -->
      <div class="container-g2 gx-layout-base-0">
        <div class="row">
          <div class="col-12 col-sm-7">
            <!--
            圖片列表的 gutter 設定為
            gx-project-404-img 
            gy-project-404-img
            base 為 0px
            sm 以上為 8px
            沒 gutter 就沒 x 軸問題
            -->
            <ul class="row gx-project-404-img gy-project-404-img">
              <li class="col-12 col-sm-6"><img src="../assets/images/2025-week2/image.png" alt="imgae"></li>
              <li class="col-12 col-sm-6 d-none d-sm-block"><img src="../assets/images/2025-week2/image-1.png" alt="imgae-1"></li>
              <li class="col-12 col-sm-6 d-none d-sm-block"><img src="../assets/images/2025-week2/image-2.png" alt="imgae-2"></li>
              <li class="col-12 col-sm-6 d-none d-sm-block"><img src="../assets/images/2025-week2/image-3.png" alt="imgae-3"></li>
              <li class="col-12 col-sm-6 d-none d-sm-block"><img src="../assets/images/2025-week2/image-4.png" alt="imgae-4"></li>
              <li class="col-12 col-sm-6 d-none d-sm-block"><img src="../assets/images/2025-week2/image-5.png" alt="imgae-5"></li>
              <li class="col-12 col-sm-6 d-none d-sm-block"><img src="../assets/images/2025-week2/image-6.png" alt="imgae-6"></li>
              <li class="col-12 col-sm-6 d-none d-sm-block"><img src="../assets/images/2025-week2/image-7.png" alt="imgae-7"></li>
            </ul>
          </div>
          <div class="col-12 col-sm-5">
            <!--
            這邊剛好反過來
            base 是 12px
            sm 以上都不能推間距
            不然會跟最外圍的 gx-layout 打架
            重複推 gutter 就不好
            -->
            <div class="container-g2 gx-layout-base-normal">
              <div class="row">
                <div class="col-12">
                  <p>施工中...</p>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer-topbar'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
